:root{
    /*  Cores  */
    --Soft-blue: #8bacda;
    --Cyan: #00fff7;
    --mainbg: #0d192b;
    --cardbg: #14253d;
    --line: #2f415b;
    --White: #ffffff;

    /*  width  */
    --wMobile: 375px ;
    --wDesktop: 1440px ;
}
.main{
    display: flex;
    justify-content: center;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: var(--wDesktop);
}

.card{
    max-width: 600px;
}

.card__img{
    width:100%;
}

.creator__img{
    width: 25px;
    border-radius: 50%;
    border: var(--White) 1px solid;
}

