:root{
    /*  Cores  */
    --Soft-blue: #8bacda;
    --Cyan: #00fff7;
    --mainbg: #0d192b;
    --cardbg: #14253d;
    --line: #2f415b;
    --White: #ffffff;

    /*  width  */
    --wMobile: 375px ;
    --wDesktop: 1440px ;

    
}

html{
    font-size: 18px;
}

.main{
    display: flex;
    justify-content: center;
    font-family: 'outfit', sans-serif;
    height: calc( 100vh - 18px);
    background: var(--mainbg);
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;    
}

.card{
    max-width: 300px;
    background: var(--mainbg);
    padding: 15px;
    border-radius: 10px;
}

.card__img{
    width:100%;
    margin-top: 10px;
    border-radius: 10px;
}

.card__img:hover{
    background: var(--Cyan) url(../image/icon-view.svg);
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
}

.card__title{
    color: var(--White);
    margin-top:10px;
    font-weight: 600;
}

.card__title:hover{
    color: var(--Cyan);
    cursor: pointer;
}

.card__text{
    color: var(--Soft-blue);
    text-align: justify;
    margin-top: 10px;
    font-weight: 300;
}

.price{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card__value{
    color: var(--Cyan);
}

.card__value::before{
    content: url(../image/icon-ethereum.svg) " \00A0 \00A0";
}

.card__time-left{
    color: var(--Soft-blue);
}

.card__time-left::before{
    content: url(../image/icon-clock.svg) " \00A0 \00A0";
}

hr{
    color:var(--line);
    margin: 10px 0;
}

.creator{
    display:flex;
    align-items: center;
}

.creator__img{
    width: 25px;
    border-radius: 50%;
    border: var(--White) 1px solid;
}

.creator__text{
    color:var(--Soft-blue);
    margin-left: 15px;
    font-weight: 300;
}

.creator strong{
    color: var(--White);
    font-weight: 400;
}

.creator strong:hover{
    color: var(--Cyan);
    cursor: pointer;
}