:root{
    /*  Cores  */
    --Soft-blue: #8bacda;
    --Cyan: #00fff7;
    --mainbg: #0d192b;
    --cardbg: #14253d;
    --line: #2f415b;
    --White: #ffffff;

    /*  width  */
    --wMobile: 375px ;
    --wDesktop: 1440px ;
}

body{
    background: var(--mainbg);

}

.container{
    width: var(--wDesktop);
    position: relative;
}

.card{
    max-width: 800px;
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(50%,50%);
}